<br>
<div class="flex justify-content-center">
  <div [style]="{width:'30rem'}">
    <div class="justify-content-end">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    </div>
    <br>
    <p-card header="Detalle:" >
      <ul  class="list-none p-0 m-0">
          <li *ngIf="cliente" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
              <div>
                  <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Nombre:</span>
              </div>
              <div class="mt-2 md:mt-0 flex align-items-center">
                  <div>
                    {{ cliente.nombreDelCliente }} {{ cliente.apellido_P}} {{cliente.apellido_M}}
                  </div>
              </div>
          </li>
          <p-divider></p-divider>

          <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
            <div>
                <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Fecha de nacimiento:</span>
            </div>
            <div class="mt-2 md:mt-0 flex align-items-center">
                <div>
                  {{ cliente.fecha_naci | date:"dd/MM/yyyy" }}
                </div>
            </div>
          </li>
        <p-divider></p-divider>

        <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
          <div>
              <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Domicilio:</span>
          </div>
          <div class="mt-2 md:mt-0 flex align-items-center">
              <div>
                {{ cliente.domicilio}}
              </div>
          </div>
      </li>
      <p-divider></p-divider>

      <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
        <div>
            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Numero telefono:</span>
        </div>
        <div class="mt-2 md:mt-0 flex align-items-center">
            <div>
              {{ cliente.telefono.slice(0, 3) }}-{{ cliente.telefono.slice(3, 6) }}-{{ cliente.telefono.slice(6) }}
            </div>
        </div>
    </li>
    </ul>
    <p-divider></p-divider>

    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
      <div>
          <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Domicilio:</span>
      </div>
      <div class="mt-2 md:mt-0 flex align-items-center">
          <div>
            {{ cliente.domicilio }}
          </div>
      </div>
    </li>
  <p-divider></p-divider>

  <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
    <div>
        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Correo:</span>
    </div>
    <div class="mt-2 md:mt-0 flex align-items-center">
        <div>
          {{ cliente.correo }}
        </div>
    </div>
  </li>
<p-divider></p-divider>


    <div class="flex justify-content-end">
      <p-button
            class="detail__space-button"
            icon= "pi pi-home"
            label="Cancelar"
            [raised]="true"
            [outlined]="true"
            [rounded]="true"
            [routerLink]="['formulario-clientes']">
    </p-button>

    <p-button
            class="detail__space-button"
            icon="pi pi-user-plus"
            severity="success"
            label="Editar"
            [raised]="true"
            [outlined]="true"
            [rounded]="true"
            [routerLink]="['formulario-cliente', cliente.id]">
    </p-button>

    <p-button
            icon="pi pi-user-plus"
            severity="secondary"
            label="Eliminar"
            [raised]="true"
            [outlined]="true"
            [rounded]="true">
    </p-button>
    </div>
    </p-card>
  </div>
</div>
