<div (click)="toggleSubMenu()"
      class="options-menu__submenu-toggle">
  <i  class="pi pi-ellipsis-v"
      pTooltip="Opciones"
      tooltipPosition="top"
      style="font-size: 1rem;"></i>
</div>

<div *ngIf="showSubMenu"
      class="submenu options-menu__size-card"
      #menuContainer>

      <p-card class="flex options-menu__size-card align-content-center bg-primary-900">

        <ng-template pTemplate="header">
          <p-button class="flex justify-content-end flex-wrap"
                    icon="pi pi-times"
                    styleClass="p-button-danger"
                    (click)="closeMenu()">

          </p-button>
        </ng-template>

      <client-detail></client-detail>
      <p-button class="options-menu__button-design"
                icon="pi pi-user-edit"
                pTooltip="Editar"
                tooltipPosition="top"
                styleClass="p-button-rounded p-button-warning">
      </p-button>
      <p-button class="options-menu__button-design"
                icon="pi pi-user-minus"
                pTooltip="Eliminar"
                tooltipPosition="top"
                styleClass="p-button-rounded p-button-danger">
      </p-button>

  </p-card>
</div>
