<!-- <div class="card flex justify-content-start">
  <p-button (click)="showDialog()" icon="pi pi-ellipsis-v" pTooltip="Opciones" tooltipPosition="top"></p-button>
  <p-dialog class="flex justify-content-end" header="Header" [(visible)]="visible" [style]="{ width: '25vw' }">
    <ng-template pTemplate="header">
      <span class="text-xl font-bold"></span>
    </ng-template>
    <div class="flex justify-content-around flex-wrap">
      <p-button class="options-menu__button-option" icon="pi pi pi-user" pTooltip="Ver detalle" tooltipPosition="top"
        styleClass="p-button-rounded">
      </p-button>
      <p-button icon="pi pi-user-edit" pTooltip="Editar" tooltipPosition="top"
        styleClass="p-button-rounded p-button-warning"></p-button>
      <p-button icon="pi pi-user-minus" pTooltip="Eliminar" tooltipPosition="top"
        styleClass="p-button-rounded p-button-danger"></p-button>
    </div>
  </p-dialog>
</div> -->

<div (click)="toggleSubMenu()">
  <i class="pi pi-ellipsis-v" style="font-size: 1rem;"></i>
</div>

<div *ngIf="showSubMenu"
      class="submenu options-menu__size-card"
      #menuContainer>

      <p-card class="flex options-menu__size-card align-content-center">

        <ng-template pTemplate="header">
          <p-button class="flex justify-content-end flex-wrap"
                    icon="pi pi-times"
                    severity="secondary"
                    (click)="closeMenu()">

          </p-button>
        </ng-template>

      <p-button class="options-menu__button-design"
                icon="pi pi pi-user"
                pTooltip="Ver detalle"
                tooltipPosition="top"
                styleClass="p-button-rounded">
      </p-button>
      <p-button class="options-menu__button-design"
                icon="pi pi-user-edit"
                pTooltip="Editar"
                tooltipPosition="top"
                styleClass="p-button-rounded p-button-warning">
      </p-button>
      <p-button class="options-menu__button-design"
                icon="pi pi-user-minus"
                pTooltip="Eliminar"
                tooltipPosition="top"
                styleClass="p-button-rounded p-button-danger">
      </p-button>

  </p-card>
</div>
