<!-- <p-button
    (click)="openDetail()"
    class="modal-detail__button-design"
    icon="pi pi pi-user"
    pTooltip="Ver detalle"
    tooltipPosition="top"
    styleClass="p-button-rounded">
</p-button>

  <div *ngIf="selectedCliente" class="modal-detail__size-card">
      <div class="card modal-detail__size-fildset">
          <p-fieldset>
              <ng-template pTemplate="header">
                  <div class="flex align-items-center text-primary">
                      <span class="pi pi-user mr-2"></span>
                      <span class="font-bold text-lg">User Details</span>
                      <p-button
                          class="flex justify-content-end m-2"
                          icon="pi pi-times"
                          styleClass="p-button-secondary"
                          (click)="closeMenu()"></p-button>
                  </div>
              </ng-template>
              <div class="grid">
                  <p-button class="col-12">
                      <span
                          >Nombres: {{ selectedCliente?.nombreDelCliente }}
                      </span>
                  </p-button>
                  <p-button class="col-6">
                      <span>Domicilio: {{ selectedCliente?.domicilio }}</span>
                  </p-button>
                  <p-button class="col-6">
                      <span
                          >Fecha de nacimiento: {{ selectedCliente?.fecha_naci }}
                      </span>
                  </p-button>
                  <p-button class="col-6">
                      <span>Domicilio: {{ selectedCliente?.domicilio }}</span>
                  </p-button>
                  <p-button class="col-6">
                      <span>Correo: {{ selectedCliente?.correo }}</span>
                  </p-button>
                  <p-button class="col-6">
                      <span
                          >Numero de telefono:
                          {{ selectedCliente?.telefono }}</span
                      >
                  </p-button>
              </div>
          </p-fieldset>
      </div>
  </div> -->
