<div *ngIf="clientDetailService.modal">
  <div class="grid">
    <p-button class="col-12">
      <span>Nombres: {{cliente.nombreDelCliente}}
      </span>
    </p-button>
    <p-button class="col-6">
      <span>Domicilio: {{cliente.domicilio}}
      </span>
    </p-button>
    <p-button class="col-6">
      <span>Fecha de nacimiento: {{cliente.fecha_naci}}
      </span>
    </p-button>
    <p-button class="col-6">
      <span>Domicilio: {{cliente.domicilio}}
      </span>
    </p-button>
    <p-button class="col-6">
      <span>Correo: {{cliente.correo}}
      </span>
    </p-button>
    <p-button class="col-6">
      <span>Numero de telefono: {{cliente.telefono}}
      </span>
    </p-button>
  </div>
</div>
