.client-form {
    &__button-footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__card-alert {
        list-style-type: none;
        // font-size: 12px;
    }
}

.app-design {
    &__content {
        padding-top: 1rem;
        width: 70rem;
    }
}
