<br />
<p-table
    [value]="clientes"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="8"
    [tableStyle]="{ 'min-width': '40rem' }">
    <ng-template pTemplate="caption">
        <div class="flex col-12">
            <div class="col-5">
                <p-button
                    icon="pi pi-user-plus"
                    label="Añadir cliente"
                    [raised]="true"
                    [outlined]="true"
                    [rounded]="true"
                    routerLink="formulario-cliente">
                </p-button>
            </div>

            <div class="col-3">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        placeholder="Buscar por nombre" />
                </div>
            </div>

            <div class="col-4 flex justify-content-end">
                <p-breadcrumb
                    class="max-w-full"
                    [model]="items"
                    [home]="home"></p-breadcrumb>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nombre del cliente</th>
            <th>Numero telefono</th>
            <th>Correo</th>
            <th>Editar</th>
            <th>Detalles</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr>
            <td>{{ cliente.id }}</td>
            <td>
                {{ cliente.nombreDelCliente }} {{ cliente.apellido_P }}
                {{ cliente.apellido_M }}
            </td>
            <td>
                {{ cliente.telefono.slice(0, 3) }}-{{
                    cliente.telefono.slice(3, 6)
                }}-{{ cliente.telefono.slice(6) }}
            </td>
            <td>{{ cliente.correo }}</td>
            <td>
                <p-button
                    class="detail__space-button"
                    icon="pi pi-user-edit"
                    severity="success"
                    [raised]="true"
                    [outlined]="true"
                    [rounded]="true"
                    [routerLink]="['formulario-cliente', cliente.id]">
                </p-button>
            </td>
            <td>
                <p-button
                    icon="pi pi-id-card"
                    [text]="true"
                    [raised]="true"
                    [outlined]="true"
                    severity="secondary"
                    [rounded]="true"
                    [routerLink]="['detail-cliente', cliente.id]">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
