<div class="flex justify-content-center">
  <p-card class="card _list" header="Lista de clientes" [style]="{ width: '100%'}">
    <p-table [value]="clientes" dataKey="code" [tableStyle]="{'min-width': '70rem'}">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Nombre(s)</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Acción</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombreDelCliente }}</td>
          <td>{{ cliente.apellido_P }}</td>
          <td>{{ cliente.apellido_M }}</td>
          <td>
            <div class="card relative justify-content-center">
              <p-panelMenu class="" [model]="opciones" [style]="{'width':'120px'}"></p-panelMenu>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
