<br>
<p-table [value]="citas"
          #dt
          [globalFilterFields]="['cliente.correo']"
          styleClass="p-datatable-striped"
          [paginator]="true"
          [rows]="8"
          [tableStyle]="{ 'min-width': '40rem' }">
  <ng-template
  pTemplate="caption">
          <div class="flex col-12">

            <div class="col-4">
              <p-button
                  icon="pi pi-user-plus"
                  label="Añadir citas"
                  [raised]="true"
                  [outlined]="true"
                  [rounded]="true"
                  routerLink="formulario-cita">
              </p-button>
            </div>

            <div class="col-4">
              <div class="search searchTerm">
                <i class="pi pi-search"></i>
                <input  class="a"
                        type="text"
                        (input)="filtrarPorNombre($event)"
                        placeholder="Buscar correo electronico" />
              </div>
            </div>

            <div class="col-4 flex justify-content-end">
                <p-breadcrumb
                    class="max-w-full"
                    [model]="items"
                    [home]="home"></p-breadcrumb>
            </div>

            </div>
      </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Fecha</th>
          <th>Nombre del cliente</th>
          <th>Estado actual</th>
          <th>Editar</th>
          <th>Detalles</th>
          <th>Acción</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cita>
      <tr>
          <td>{{ cita.id }}</td>
          <td>{{ cita.fecha_cita }}</td>
          <td>{{ cita.cliente.nombreDelCliente}} {{ cita.cliente.apellido_P }} {{ cita.cliente.apellido_M }} </td>
          <td>{{ cita.estado}}</td>
          <td>
            <p-button
              class="detail__space-button"
              icon="pi pi-user-edit"
              [raised]="true"
              [outlined]="true"
              [rounded]="true"
              [routerLink]="['formulario-cita', cita.id]">
            </p-button>
          </td>
          <td>
            <p-button icon="pi pi-id-card"
                      [text]="true"
                      [raised]="true"
                      [outlined]="true"
                      severity="secondary"
                      [rounded]="true"
                      [routerLink]="['detalle-cita', cita.id]">
            </p-button>
          </td>
          <td>
            <p-button icon="pi pi-id-card"
                      label="Finzalizar cita"
                      [text]="true"
                      [raised]="true"
                      [outlined]="true"
                      severity="success"
                      [rounded]="true">
            </p-button>
          </td>
      </tr>
  </ng-template>

</p-table>
