<br />
<p-table
    [value]="citas"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="8"
    [tableStyle]="{ 'min-width': '40rem' }">
    <ng-template pTemplate="caption">
        <div class="flex col-12">
            <div class="col-5">
                <p-button
                    icon="pi pi-user-plus"
                    label="Añadir citas"
                    [raised]="true"
                    [outlined]="true"
                    [rounded]="true"
                    routerLink="formulario-cita">
                </p-button>
            </div>

            <div class="col-3">
                <div class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        placeholder="Buscar por nombre" />
                </div>
            </div>

            <div class="col-4 flex justify-content-end">
                <p-breadcrumb
                    class="max-w-full"
                    [model]="items"
                    [home]="home"></p-breadcrumb>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Nombre del cliente</th>
            <th>Nombre del empleado</th>
            <th>Estado actual</th>
            <th>Editar</th>
            <th>Detalles</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cita>
        <tr>
            <td>{{ cita.id }}</td>
            <td>{{ cita.fecha_cita }}</td>
            <td>{{ cita.cliente.nombreDelCliente }}</td>
            <td>{{ cita.empleado.nombreDelEmpleado }}</td>
            <td>{{ cita.estado }}</td>
            <td>
                <p-button
                    class="detail__space-button"
                    icon="pi pi-user-edit"
                    severity="success"
                    [raised]="true"
                    [outlined]="true"
                    [rounded]="true"
                    [routerLink]="['formulario-cita', cita.id]">
                </p-button>
            </td>
            <td>
                <p-button
                    icon="pi pi-id-card"
                    [text]="true"
                    [raised]="true"
                    [outlined]="true"
                    severity="secondary"
                    [rounded]="true"
                    [routerLink]="['detalle-cita', cita.id]">
                </p-button>
            </td>
        </tr>
    </ng-template>
</p-table>
