<br>
<p-table [value]="empleados"
          styleClass="p-datatable-striped"
          [paginator]="true"
          [rows]="8"
          [tableStyle]="{ 'min-width': '40rem' }">
          <ng-template
          pTemplate="caption">
          <div class="flex col-12">

            <div class="col-5">
              <p-button
                  icon="pi pi-user-plus"
                  label="Añadir empleado"
                  [raised]="true"
                  [outlined]="true"
                  [rounded]="true"
                  routerLink="formulario-empleado">
              </p-button>
            </div>

            <div class="col-3">
              <div class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder="Buscar por nombre" />
              </div>
            </div>

            <div class="col-4 flex justify-content-end">
              <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>

            </div>
      </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>NOMBRE DEL EMPLEADO</th>
          <th>CORREO</th>
          <th>TELEFONO</th>
          <th>TIPO DE EMPLEADO</th>
          <th>OPCIONES</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleados>
      <tr>
          <td>{{ empleados.id }}</td>
          <td>{{ empleados.nombreDelEmpleado }} {{ empleados.apellido_P }} {{ empleados.apellido_M }} </td>
          <td>{{ empleados.correo }}</td>
          <td>{{ empleados.telefono }}</td>
          <td>{{ empleados.tipoDeEmpleado.tipoEmpleado}}</td>
          <td>
            <p-button icon="pi pi-ellipsis-v"
                      [text]="true"
                      [raised]="true"
                      severity="secondary">
            </p-button>
          </td>
      </tr>
  </ng-template>

</p-table>
