<br>
<p-table [value]="empleados"
          #dt
          [globalFilterFields]="['correo']"
          styleClass="p-datatable-striped"
          [paginator]="true"
          [rows]="8"
          [tableStyle]="{ 'min-width': '40rem' }">
          <ng-template
          pTemplate="caption">
          <div class="flex col-12">

            <div class="col-4">
              <p-button
                  icon="pi pi-user-plus"
                  label="Añadir empleado"
                  [raised]="true"
                  [outlined]="true"
                  [rounded]="true"
                  routerLink="formulario-empleado">
              </p-button>
            </div>

            <div class="col-4">
              <div class="search searchTerm">
                <i class="pi pi-search"></i>
                <input  class="a"
                        type="text"
                        (input)="filtrarPorNombre($event)"
                        placeholder="Buscar correo" />
              </div>
            </div>

            <div class="col-4 flex justify-content-end">
              <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
            </div>

            </div>
      </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Nombre del empleado</th>
          <th>Correo</th>
          <th>Tipo de empleado</th>
          <th>Editar</th>
          <th>Detalles</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleado>
      <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombreDelEmpleado }} {{ empleado.apellido_P }} {{ empleado.apellido_M }} </td>
          <td>{{ empleado.correo }}</td>
          <td>{{ empleado.tipoDeEmpleado.tipoEmpleado}}</td>
          <td>
            <p-button
              class="detail__space-button"
              icon="pi pi-user-edit"
              severity="success"
              [raised]="true"
              [outlined]="true"
              [rounded]="true"
              [routerLink]="['formulario-empleado', empleado.id]">
            </p-button>
          </td>
          <td>
            <p-button icon="pi pi-id-card"
                      [text]="true"
                      [raised]="true"
                      [outlined]="true"
                      severity="secondary"
                      [rounded]="true"
                      [routerLink]="['detalle-empleado', empleado.id]">
            </p-button>
          </td>
      </tr>
  </ng-template>

</p-table>
