<br>
<div class="card flex justify-content-center">
    <div class="card">
        <p-table
            #dt
            [columns]="cols"
            [value]="data"
            [tableStyle]="{ 'min-width': '70rem' }"
            [(contextMenuSelection)]="rowData"
            [contextMenu]="cm"
            [paginator]="true"
            [rows]="8"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="flex">

                  <button
                      pButton
                      [icon]="buttonConfig.icon"
                      [label]="buttonConfig.label"
                      [routerLink]="buttonConfig.routerLink">
                  </button>

                  <p-button
                      class="ml-1"
                      icon="pi pi-replay"
                      label="Cargar lista"
                      (click)="cargarPagina()">
                  </p-button>

                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="applyFilterGlobal($event, 'name')"
                            placeholder="Buscar" />
                    </span>
                </div>
            </ng-template>

            <p-columnFilter type="text" field="name"></p-columnFilter>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pContextMenuRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                    <td>

                    </td>
                </tr>
            </ng-template>
        </p-table>
        <detail [display]="display" ></detail>

    </div>

    <p-contextMenu #cm [model]="opciones"></p-contextMenu>
</div>

