<div class="card flex justify-content-center">
    <div class="card">
        <p-table
            #dt
            [columns]="cols"
            [value]="data"
            [tableStyle]="{ 'min-width': '50rem' }"
            [(contextMenuSelection)]="rowData"
            [contextMenu]="cm"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['name']">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="Buscar" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pContextMenuRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                    <td>
                        <p-button
                            icon="pi pi-ellipsis-v"
                            (onClick)="showContext(cm, rowData, $event)" />
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <p-contextMenu #cm [model]="opciones"></p-contextMenu>
</div>
